<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ozan.quizgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_quizgame"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_quizgame"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Quiz"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme">
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>